
.DS_Store
Thumbs.db


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.*
!.env.example
!.env.sample


dist/
build/
.next/


.DS_Store

.turbo/
apps/back-end/.turbo/
apps/front-end/.turbo/
packages/shared/.turbo/
apps/front-end/tsconfig.tsbuildinfo
mh-os-superapp-backend@*
